%button {
  background: transparent;
  border: 0.2rem solid $orange;
  padding: 1.5rem 3rem;
  color: $orange;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  border-radius: 3rem;
  margin-top: 2.5rem;
  display: inline-block;
  min-width: 14rem;
  text-align: center;
  transition: background-color 0.25s ease 0s, color 0.25s ease 0s;

  &:hover {
    background: $orange;
    color: white;
  }
}

.banRow {
  width: 100%;
  height: auto;
  position: absolute;
  // z-index: -10;
}

.bring {
  h1 {
    margin-top: 300px;
    color: $dark;
    font-family: $fontHead;
    font-size: 5.8rem;
    font-weight: bold;
    line-height: 1.15;
    letter-spacing: -0.075rem;
    max-width: 14ch;
  }
  p {
    color: $dark;
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 2.5rem;
  }
  button {
    @extend %button;
  }
}

// who
.whoRow {
  padding-top: 230px;
}
.who {
  padding-top: 200px;
  h4 {
    color: $orange;
    font-family: Circular, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    padding: 10px;
    padding-left: 100px;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 3.5rem;
    letter-spacing: -0.075rem;
    // margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    padding-left: 130px;
  }
  // h3 {
  //   color: $orange;
  //   text-decoration: none;
  //   padding: 0px 0 0 50px;
  //   font-weight: bold;
  // }
  p {
    color: $dark;
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.75;
    display: inline-block;
    // margin-top: 1rem;
    // margin-left: 2.5rem;
    padding-left: 130px;
    padding-right: 10px;
  }
  button {
    @extend %button;
    margin-left: 130px;
    padding: 1.2rem 3rem;
    font-size: 17px;
  }
}

// how

.howRow {
  padding-top: 230px;
}
.how {
  padding-top: 300px;
  h4 {
    color: $orange;
    font-family: Circular, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 4rem;
    letter-spacing: -0.075rem;
    // margin-left: 2.5rem;
    margin-bottom: 2.5rem;
    padding-right: 40px;
    padding-left: 30px;
  }
  h3 {
    color: $orange;
    text-decoration: none;
    padding: 10px 10px 0 0px;
    font-weight: bold;
    padding-left: 30px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }
  button {
    @extend %button;
    margin-left: 30px;
    padding: 1.2rem 3rem;
    font-size: 17px;
  }
}

// what
.whatRow {
  padding-top: 230px;
}
.what {
  padding-top: 150px;
  h4 {
    color: $orange;
    font-family: Circular, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    padding: 10px;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 4rem;
    letter-spacing: -0.075rem;
    margin-left: 2.5rem;
    margin-bottom: 3rem;
  }
  p {
    color: $dark;
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.75;
    display: inline-block;
    // margin-top: 1rem;
    margin-left: 2.5rem;
  }
  button {
    @extend %button;
    margin-left: 60px;
    padding: 1.2rem 3rem;
    font-size: 17px;
  }
}

// blog

.blogCom {
  span {
    color: $orange;
    font-family: $fontHead;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    display: inline-block;
    line-height: 1.75;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 4.5rem;
    letter-spacing: -0.075rem;
    transition: color 0.25s ease 0s;
    margin-top: 1rem;
    cursor: pointer;
    &:hover {
      color: $orange;
    }
  }
  p {
    color: $dark;
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
  }

  img {
    background-color: $orange;
    &:hover {
      opacity: 0.5;
      background-color: $orange;
      cursor: pointer;
    }
  }
}

// Cleint

.clientRow {
  padding-top: 150px;
  h4 {
    color: $orange;
    font-family: Circular, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    padding: 10px;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 4rem;
    letter-spacing: -0.075rem;
    margin-left: 2.5rem;
    margin-bottom: 3rem;
  }
}

// read

.readRow {
  padding-top: 150px;
  h4 {
    color: $orange;
    font-family: Circular, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    padding: 10px;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 4rem;
    letter-spacing: -0.075rem;
    // margin-left: 2.5rem;
    margin-bottom: 3rem;
  }
  button {
    @extend %button;
    // margin-left: 60px;
    margin: 10% 0 10% 0;
  }
}

.readCom {
  span {
    color: $orange;
    font-family: $fontHead;
    font-weight: 700;
    letter-spacing: 0.15rem;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
    line-height: 1.75;
    padding: 2%;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 1.8rem;
    // padding: 2% 5% 0 1%;
    line-height: 1.33;
    letter-spacing: -0.075rem;
    margin-top: 1.2rem;
    margin-bottom: 0px;
    transition: color 0.25s ease 0s;
  }
}

// footer

.footRow {
  background-color: black;
  padding: 5% 0 5% 0;
  margin-top: 150px;
  // padding: 0px;
  ul {
    li {
      font-size: 1.5rem;
      color: rgb(255, 255, 255);
      transition: color 0.2s ease-in-out 0s;
      list-style: none;
      line-height: 1.6;
      font-family: $fontHead;
    }
    .home {
      border-bottom: 1px solid white;
      width: 60px;
    }
  }

  .footRowTwo {
    span {
      color: $orange;
      font-family: $fontHead;
      font-weight: 700;
      letter-spacing: 0.15rem;
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      margin-right: 1.5rem;
      line-height: 1.75;
      // padding: 2%;
    }
    ul {
      padding: 0px;
      margin-top: 20px;
      li {
        font-size: 1.3rem;
        line-height: 1.7;
        font-family: $fontHead;
        color: rgb(255, 255, 255);
        transition: color 0.2s ease-in-out 0s;
      }
    }
  }

  .footRowThree {
    @extend .footRowTwo;
    ul {
      li {
        line-height: 2.5;
      }
    }
  }

  .footSoc {
    text-align: right;
    span {
      font-size: 1.4rem;
      line-height: 1.25;
      letter-spacing: 0.2rem;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      color: $orange;
      font-family: Sofia, sans-serif;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Circular, sans-serif;
      font-weight: 700;
      margin: 0px 0px 4.5rem;
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: color 0.2s ease-in-out 0s;
    }
    div {
      background-color: transparent;
      border-top: 0px;
      border-right: 0px;
      border-left: 0px;
      border-image: initial;
      margin: 0px 0px 6rem;
      transition: color 0.15s ease-in-out 0s;
      color: rgb(255, 255, 255) !important;
      font-family: Sofia, sans-serif !important;
      font-size: 3rem !important;
      line-height: 0.9 !important;
      border-bottom: 0px !important;
    }

    .socRow {
      margin: 0px;
      .footCol {
        margin-bottom: 50px;
      }
    }
  }
}
