.workRow {
  position: absolute;
  // z-index: -1;
}

.workText {
  padding-bottom: 60px;
  z-index: 1;
  h1 {
    margin-top: 300px;
    color: $dark;
    font-family: $fontHead;
    font-size: 4rem;
    line-height: 1.15;
    letter-spacing: -0.075rem;
    max-width: 16ch;
  }
  p {
    color: $dark;
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    display: inline-block;
    margin-top: 1rem;
    max-width: 58ch;
    // margin-left: 2.5rem;
  }
}

.tabs {
  position: relative;
  // z-index: 1000 !important;
  ul {
    margin: 100px 0px 30px 0px;
    // padding: 0px;
    // z-index: 1000 !important;
    li {
      list-style: none;
      display: inline;
      margin: 10px 20px;
      padding: 5px 10px;
      font-size: 1.7rem;
      color: $orange;
      font-weight: bold;
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }

    .active {
      border: 3px solid $orange;
      text-align: center;
      transition: 0.5s ease-in-out;
    }
  }
}

.GalCom {
  span {
    color: $orange;
    font-family: $fontHead;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 0.22rem;
    text-transform: uppercase;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    display: inline-block;
    line-height: 1.75;
  }
  h2 {
    color: $dark;
    font-family: $fontHead;
    font-size: 4rem;
    letter-spacing: -0.075rem;
    transition: color 0.25s ease 0s;
    margin-top: 1rem;
  }
  p {
    color: $dark;
    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
  }
}
