// var

// @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
$fontHead: 'Rubik', sans-serif;
$orange: rgb(247, 78, 161);
$dark: #878787;

@import '_Home.scss';
@import '_Work.scss';
@import '_services.scss';
@import '_studio.scss';

// body {
//   background-color: white;
//   transition: all 3s ease;
// }

.bgColorWhite {
  background-color: white;
  transition: all 3s ease;
}
.bgColorBlack {
  background-color: #373737;
  transition: all 3s ease;
}

// scroll bar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px bisque;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $orange;
  border-radius: 10px;
}
